# Created automatically by setuptools-scm
src/wakepy/_version.py

# python stuff
__pycache__/
*.py[cod]
*.egg-info/

# builds
dist/
docs/build/

# Unit tests, checks, coverage reports
htmlcov/
.coverage
.ruff_cache
.mypy_cache

# Virtual environments
.venv
venv/

# Editors and AI agents
.vscode/*
.idea/*
.claude/*

